footer {
    background: black;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
  }
  
  footer span {
    color: wheat;
    padding-top: 20px;
  }
  @media all and (max-device-width: 730px) {
    footer {
        font-size: 13px;
    }
  }
